body {
    margin: 0;
    height: 100vh;
    background: 
    linear-gradient(-45deg, #ee7752,#e73c7e,#23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-height: 100h;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.h2 {
    color: yellow;
    text-align: center;
}
header {
    background-color: #4CAF50;
    color: blue;
    padding: 20px;
    text-align: center;
    width: 100%;
}
.image-gallery img {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
}
#hens-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(o, 0, 0, 0.1);
}
#hens-table th, #hens-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
#whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;

}
button {
    background-color: #25D366;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.logo-container {
    position: relative;
    width: 250px;/*adjust size */
    height: 250px;/*adjust size*/
    transform-style: preserve-3d;
    animation: flip 5s infinite;
    radius: 50%;
}
.logo {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotate 1s infinite;
    border-radius: 50%;
    overflow: hidden;
}
.logo-front {
    animation: rotateFront 10s infinite;

}
.logo-back {
    animation: rotateBack 10s infinite;
}
.logo-mid {
    animation: rotateAcross 10s infinite;
}
@keyframes rotateFront {
    0%{transform: rotateY('0deg');opacity: 1;}
    50%{transform: rotateY('180deg');opacity: 0;}
    100%{transform: rotateY('360deg');opacity: 1;}
}
@keyframes rotateBack {
    0%{transform: rotateY('180deg');opacity: 0;}
    50%{transform: rotateY('360deg');opacity: 1;}
    100%{transform: rotateY('540deg');opacity: 0;}
}
@keyframes rotateAcross {
    0%{transform: rotateY('360deg');opacity: 1;}
    50%{transform: rotateY('540deg');opacity: 0;}
    100%{transform: rotateY('720deg');opacity: 1;}
    }
#promo-video {
    width: 100%;
    height: auto;
}
nav a {
    margin: 10px;
    text-decoration: none;
    color: y;
}

footer {
    background: white;
    color: green;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    width: 100%;
}
#intro {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#promo-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#intro h1, #intro p {
    position: relative;
    color: white;
}