body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:#ffffff;
}
header {
    background-color: blue;
    color: #fff;
    padding: 1em;
    text-align: center;
}
.image-ad img {
    max-width: 400px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.hero {
    background: linear-gradient(to right, #1565c0, #42a5f5);
    color: white;
    padding: 60px 20px;
    text-align: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

}
nav li {
    display: inline-block;
    margin-right: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

h2 {
    color: #333;

}
p {
    color: #666;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    margin-bottom: 10px;
}
#login-section {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
#login-form {
    margin-top: 10px;

}
#login-form label {
    display: block;
    margin-bottom: 10px;
}

#login-form input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

#login-form button(type="submit") {
    width: 100%;
    height: 40px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.whatsapp-btn {
    background: #25D366;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
}